---
---

{% include head-start.htm %}
    <title>CULES 60th Anniversary Celebration</title>
    <meta name="description" content="We're 60! We should celebrate!">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
</head>

<body>
    
    {% include nav.htm %}


    <h1 class="cules">CULES 60<sup>th</sup> Anniversary Celebration</h1>
    <h2>Tickets are no longer available, sorry</h2>


    <p>Why, hello there. Are you a proud light entertainer who is ready to grace the CULES 60th anniversary celebration with your awesome presence?</p>

    <p>Well, we want you.</p>
        
    <p>The Cambridge University Light Entertainment Society (CULES) is a non-profit society which aims to bring theatre to those who may not have as much access to it such as the elderly and children with severe disabilities. Some of our most well-known members who have gone on to achieve fame include John Cleese and Sandi Toksvig.</p>
        
    <p>But in between running theatre productions and getting popular, we are also some of, if not the, funnest people to be around. So we are super excited to invite you to join fellow light entertainers to our 60th anniversary celebration to honour 60 years of silliness and laughter.</p>



    <h2>Event Details</h2>

    <p>Date: December 1st, 2018</p>

    <p>Venue: Fitzwilliam College, Cambridge</p>

    <p>Time: 18:00 – 23:30 (those with children/commitments/jobs/actual lives are of course welcome to depart whenever they please)</p>

    <p>Dress code: Formal (evening dresses and suits recommended, but not necessary)</p>



    <h2>Current Line-Up of Event</h2>

    <ul>
        <li>Drinks reception</li>

        <li>Formal dinner, during which there will be open-mic performances (see below for details on how to sign up), and the awarding of prizes for the best dressed guests</li>
       
        <li>Silent disco</li>
       
        <li>Quiz games (get ready to get really competitive!)</li>
    </ul>

    <h2>Please Get in Touch with Me with:</h2>

    <ul>
        <li>Dietary requirements you would want us to know about</li>

        <li>Interest in signing up for an open-mic performance, DJing the silent disco, and/or submission of questions for the quiz games</li>

        <li>Questions/concerns/suggestions</li>
    </ul>
               
    <p>I am Jasmin Thien, and I am the current President of CULES.</p>

    <p>You can reach me at <a href="mailto:jstt2@cam.ac.uk">jstt2@cam.ac.uk</a>.</p>



    <h2>Ticket Sales Have Ended</h2>


{% include footer.htm %}
