---
---

{% include head-start.htm %}
    <title>CULES 60th Anniversary Celebration</title>
    <meta name="description" content="We're 60! We should celebrate!">
    <link href="https://fonts.googleapis.com/css?family=Fontdiner+Swanky" rel="stylesheet">
</head>

<body>
    
    {% include nav.htm %}


    <h1 class="cules">CULES 60<sup>th</sup> Anniversary Celebration</h1>



    <p>Why, hello there. Are you a proud light entertainer who is ready to grace the CULES 60th anniversary celebration with your awesome presence?</p>

    <p>Well, we want you.</p>
        
    <p>The Cambridge University Light Entertainment Society (CULES) is a non-profit society which aims to bring theatre to those who may not have as much access to it such as the elderly and children with severe disabilities. Some of our most well-known members who have gone on to achieve fame include John Cleese and Sandi Toksvig.</p>
        
    <p>But in between running theatre productions and getting popular, we are also some of, if not thee, funnest people to be around. So we are super excited to invite you to join fellow light entertainers to our 60th anniversary celebration to honour 60 years of silliness and laughter.</p>



    <h2>Event Details</h2>

    <p>Date: December 1st, 2018</p>

    <p>Venue: Fitzwilliam College, Cambridge</p>

    <p>Time: 18:00 – 23:30 (those with children/commitments/jobs/actual lives are of course welcome to depart whenever they please)</p>

    <p>Dress code: Formal (evening dresses and suits recommended, but not necessary)</p>



    <h2>Current Line-Up of Event</h2>

    <ul>
        <li>Drinks reception</li>

        <li>Formal dinner, during which there will be open-mic performances (see below for details on how to sign up), and the awarding of prizes for the best dressed guests</li>
       
        <li>Silent disco</li>
       
        <li>Quiz games (get ready to get really competitive!)</li>
    </ul>

    <h2>Please Get in Touch with Me with:</h2>

    <ul>
        <li>Dietary requirements you would want us to know about</li>

        <li>Interest in signing up for an open-mic performance, DJing the silent disco, and/or submission of questions for the quiz games</li>

        <li>Questions/concerns/suggestions</li>
    </ul>
               
    <p>I am Jasmin Thien, and I am the current President of CULES.</p>

    <p>You can reach me at <a href="mailto:jstt2@cam.ac.uk">jstt2@cam.ac.uk</a>.</p>



    <h2>Get Your Tickets Here:</h2>

    <p>There are only about 115 available, so I suggest you snatch one before they all vanish.</p>
    
    <p>We also humbly ask for donations – any amount you are happy to give – which will go to the Guide Dogs for the Blind Association. This has nothing to do what-so-ever with my being blind myself, of course. The Guide Dogs for the Blind Association in the UK provides service dogs for blind people (subtle) at no cost to help the blind live more independent, fulfilling lives.</p>

    <!-- Ticket Tailor Widget. Paste this in to your website where you want the widget to appear. Do no change the code or the widget may not work properly. -->
<div class="tt-widget"><div class="tt-widget-fallback"><p><a href="https://www.tickettailor.com/new-order/194662/a50a/ref/website_widget/" target="_blank">Click here to buy tickets</a><br /><small><a href="http://www.tickettailor.com?rf=wdg" class="tt-widget-powered">Sell tickets online with Ticket Tailor</a></small></p></div><script src="https://dc161a0a89fedd6639c9-03787a0970cd749432e2a6d3b34c55df.ssl.cf3.rackcdn.com/tt-widget.js" data-url="https://www.tickettailor.com/new-order/194662/a50a/ref/website_widget/" data-type="inline" data-inline-minimal="false" data-inline-show-logo="true" data-inline-bg-fill="true"></script></div>
<!-- End of Ticket Tailor Widget -->

{% include footer.htm %}
