---
---

{% include head-start.htm %}
    <title>Committee - Cambridge University Light Entertainment Society</title>
    <meta name="description" content="The currently serving committee members of CULES.">
</head>

<body>
    
    {% include nav.htm %}

    <h1>Committee</h1>

    <p><a href="constitution.htm">The constitution lives here</a>.</p>

    <p>This is the currently serving committee, elected March 2016:</p>

    <ul>
        <li><strong>President</strong> - Sam Cocking <small>(elected November 2016)</small></li>
        <li><strong>Internal Secretary</strong> - Alex Duncan</li>
        <li><strong>Junior Treasurer</strong> - Martin French</li>
        <li><strong>External Secretaries</strong> - Fergus Powell and Miffy Mifsud</li>
        <li><strong>Social Secretary</strong> - Paige Smeaton</li>
        <li><strong>Archivist</strong> - Tom Flynn</li>
        <li><strong>Props and Costumes Liaison Officer</strong> - Martin French</li>
        <li><strong>Tentacles</strong> - Phil Scott, August Fall, and Grant Husbands</li>
    </ul>

    <p><a href="mailto:soc-cules-committee@lists.cam.ac.uk">Get in touch with the committee</a> (they are all quite friendly).</p>

</body>

{% include footer.htm %}
