---
---

{% include head-start.htm %}
    <title>Committee - Cambridge University Light Entertainment Society</title>
    <meta name="description" content="The currently serving committee members of CULES.">
</head>

<body>
    
    {% include nav.htm %}

    <h1>Committee</h1>

    <p><a href="constitution.htm">The constitution lives here</a>.</p>

    <p>This is the currently serving committee, elected March 2018:</p>

    <ul>
        <li><strong>President</strong> - Jasmin Thien</li>
        <li><strong>Internal Secretary</strong> - Izzy Smith</li>
        <li><strong>Junior Treasurer</strong> - Alex Edwards</li>
        <li><strong>Archivist</strong> - Jay Hughes</li>
        <li><strong>Webmattress</strong> - Alina Wanitzek</li>
        <li><strong>Senior Treasurer</strong> - Rich Wareham</li>
    </ul>

    <p><a href="mailto:soc-cules-committee@lists.cam.ac.uk">Get in touch with the committee</a> (they are all quite friendly).</p>

</body>

{% include footer.htm %}
