---
---

{% include head-start.htm %}
    <title>Constitution - Cambridge University Light Entertainment Society</title>
    <meta name="description" content="The CULES constitition.">
</head>


{% include nav.htm %}

<h1>The Constitution</h1>

<p>Last amended: 7 March 2011</p>

<ol>
  <li>
    Name
    <ol>
      <li>
        The name of the Society shall be "The Cambridge University Light Entertainment Society" (hereinafter referred to as "the Society").
      </li>
    </ol>
  </li>
  <li>
    Aims of the Society
    <ol>
      <li>
        To perform light entertainments for those to whom they would not normally be accessible.
      </li>
      <li>
        To perform light entertainments in order to raise money for charitable organisations, subject to those organisations being approved by a majority of the Committee.
      </li>
      <li>
        For members to have fun.
      </li>
    </ol>
  </li>
  <li>
    Membership
    <ol>
      <li>
        Membership of the society shall be open to all members of the University of Cambridge, including those having graduated from the University.
      </li>
      <li>
        Membership may be awarded to those not conforming to the requirements of the previous clause by a two-thirds majority decision of the Committee.
      </li>
      <li>
        Membership will be granted for life, but for the purposes of deciding a
        quorum, and for no other purpose, as described in 'Meetings' below, the
        number of members shall be counted as those members who have been active
        in the society in either the term of the meeting or any of the two preceding
        terms (where 'active' signifies participation in the productions of the
        society). The Secretary shall maintain a record of membership for the
        purposes of determining which members shall be defined as active.
      </li>
      <li>
        Membership may be revoked by decision of the member concerned, or by unanimous decision of the Committee that the member concerned has been involved in conduct detrimental to the Society. No other grounds shall be accepted for the termination of membership.
      </li>
      <li>
        All people that have taken an active role in productions of the society, which in the case of dispute will be determined by majority decision of the Committee, shall be awarded membership. Other people may be awarded membership by a two-thirds majority decision of the Committee in accordance with 3.2.
      </li>
      <li>
        The society shall not in any way discriminate against anybody on the grounds of race, nationality, sex, sexual orientation, gender identity, religion, or political views.
      </li>
      <li>
        All members shall be required to pay a membership fee, the term and value of which will be set at the AGM. This fee may be set at zero.
      </li>
    </ol>
  </li>
  <li>
    Committee
    <ol>
      <li>
        The Committee of the Society shall be elected at the AGM and shall be by the process of a single non-transferable vote for every member of the Society. Nominations for the Committee posts should be given to the Secretary in writing at least 3 days before the AGM, along with the name and signature of the proposed, the nominator and the seconder. Anyone standing for a Committee post shall be prepared to stand hustings, which will be held before voting.
      </li>
      <li>
        The Executive Committee shall consist primarily of a President, a Secretary and a Treasurer, who are current Cambridge University undergraduate or postgraduate students or who are members of the Regent House. Additional members of the Committee (but not the Executive Committee) may be co-opted by a unanimous vote of the Executive Committee.
      </li>
      <li>
        The duties of the President shall be to provide general guidance for the Society, to chair Meetings, to liaise with senior members of the University concerning Society matters, to act as the point of contact between the Society and others, and to carry out such duties as may be necessary and appropriate. The President shall, in the event of unforeseen circumstances, be the first person to be called upon to direct, produce, write, act, sing or whatever may be necessary in order to satisfy the aims of the Society.
      </li>
      <li>
        The duties of the Secretary shall be to arrange and notify members of Meetings of all sorts, to take the minutes and keep the records of the Society, and to carry out such other duties as may be necessary and appropriate. The Secretary shall also be responsible for arranging venues for performances.
      </li>
      <li>
        The duties of the Treasurer shall be to collect the membership fee, if such a fee exists, and arrange, in consultation with President and Secretary, such matters as may concern the financial business of the Society, and to carry out any other duties as may be necessary and appropriate.
      </li>
      <li>
        Any member of the Committee who shall cease to be a member of the Society shall vacate his/her seat. If said member was a member of the Executive Committee, a Special General Meeting shall be called by the remaining members of the Committee within fourteen days, not counting the days which fall outside Full Term, in order to replace them.
      </li>
      <li>
        Any member of the Committee may be removed from office by the votes of two thirds of the members present at a Special General Meeting called for that purpose.
      </li>
    </ol>
  </li>
  <li>
    Meetings
    <ol>
      <li>
        Ordinary Meetings of the Society shall be set by the Committee, and need not occur on a regular basis. Any member may attend an Ordinary Meeting.
      </li>
      <li>
        Committee Meetings of the Society shall be set by the Committee, and require the presence of more than 1/2 of the Committee members to be quorate. Members of the Committee are expected to attend, and others may attend if they have the consent of at least 2 Committee members (who must be present at the Meeting). The Committee may decree statutes during any Committee Meeting, subject to a majority vote.
      </li>
      <li>
        A General Meeting shall have a quorum of one tenth of the total number of members and each member shall be entitled to one vote on each motion. Voting shall be by a simple show of hands. In the event of equality of votes the President shall have a second or casting vote. In the absence of the President at a Meeting, a temporary President shall be appointed prior to the start of the Meeting.
      </li>
      <li>
        A Special General Meeting shall be called by the Secretary upon the direction of the Committee or upon a requisition signed by one fifth of the total number of members. Notice of any Special General Meeting and of the object for which it is called should be given to each member who is a resident member of the university at least 7 days prior to the date of the Meeting, not counting days which fall outside Full Term. No business other than that named in the notice shall be brought before a Special Meeting. 
      </li>
      <li>
        The Annual General Meeting shall be held in the Lent term on a date to be fixed by the Committee, preferably in the first half of said term. At least fourteen days notice of the AGM, with a copy of the proposed agenda, shall be given to each member who is a resident member of the University. The business of the AGM shall be to:
        <ul>
          <li>receive the account or accounts and balance sheet.</li>
          <li>receive the report of the Committee.</li>
          <li>consider such other business as may be submitted by the Committee or any motion to be proposed by a member of which at least three days notice has been given to the Secretary in writing.</li>
          <li>set the membership fee, if any</li>
          <li>elect the Committee.</li>
        </ul>
        At least two days before the AGM the Secretary shall publish or otherwise circulate the updated agenda, including:
        <ol type="i">
          <li>a list of nominations for the Commitee posts, and</li>
          <li>any motions which have been submitted.</li>
        </ol>
      </li>
      <li>
        In the event that a position of the Executive Committee is not filled during a General Meeting, or that a General Meeting is not quorate, another General Meeting will be called by the remaining Committee members within fourteen days, not counting days which fall outside Full Term.
      </li>
    </ol>
  </li>
  <li>
    Property and papers of the Society
    <ol>
      <li>
        The Society may receive and disclaim property of any nature and purchase or otherwise acquire property of any nature. The property belonging to the Society shall be invested in the name of the Society. The funds of the Society may only be applied for lawful purpose determined by the Committee or any General Meeting in support of the objects.
      </li>
      <li>
        Any member may at all reasonable times inspect all books and accounts at any place where the Secretary/Treasurer may produce them for inspection. The Treasurer shall keep proper account of the finances of the Society and shall open a bank account in the name of the Society.
      </li>
      <li>
        Records shall be taken and minutes kept in such a form as the Committee may direct of the proceedings at all General Meetings and Meetings of the Committee. The minutes of every such Meeting shall be confirmed and signed by the President at a subsequent Meeting. When signed they shall be conclusive to all matters and things therein recorded.
      </li>
    </ol>
  </li>
  <li>
    Auditing of accounts
    <ol>
      <li>
        A Senior Treasurer shall be appointed by the Committee each year to audit the Society's accounts.
      </li>
    </ol>
  </li>
  <li>
    Dissolution
    <ol>
      <li>
        The Society may at any time be dissolved by the consent of three-quarters of the members whereupon the funds of the Society will be donated to charity, and the properties as the Committee sees fit.
      </li>
    </ol>
  </li>
  <li>
    Disclaimer
    <ol>
      <li>
        The Society disclaims all responsibility for death, loss and injury incurred during or by Society activities, to the full extent allowable by the law.
      </li>
    </ol>
  </li>
  <li>
    Amendments to this constitution
    <ol>
      <li>
        These rules may only be amended in an Annual General Meeting, or a Special General Meeting called for that purpose. Any amendment shall require the votes of at least two-thirds of the members present at such a Meeting. The Committee shall have the power to make such bye-laws as it may consider necessary for the good government of the Society provided no such bye-law shall conflict with any rules. Notice of bye-laws should be brought to the attention of the Members.
      </li>
    </ol>
  </li>
</ol>

</body>

{% include footer.htm %}
