---
---

{% include head-start.htm %}
    <title>Cambridge University Light Entertainment Society</title>
    <meta name="description" content="We're a student-run group who aim to bring theatre (normally daft theatre) to those who don't normally get the chance to see it, like special needs schools and retirement homes.">
</head>

<body>
    
    {% include nav.htm %}

    <h1>Cambridge University Light Entertainment Society</h1>

    <h3>About CULES</h3>
    <p>We're a student-run group who aim to bring theatre (normally daft theatre) to those who don't normally get the chance to see it, like special needs schools and retirement homes. We also do public shows to raise money for various charities.</p>

    <p>We generally perform a play and a pantomime in both Michaelmas and Lent. In Easter we perform four short plays around a theme (designed to be manageable and relaxing for after exams!). All of these are written, directed and produced by members of the society, often first-timers.</p>

    <p>We also just like hanging out with each other. We go to the pub every Thursday. We visit our sister society in Oxford, <a href="http://oules.lightentertainment.org/">OULES</a>, for their shows. We usually have a camping trip to somewhere with forests or mountains in the summer, and a three-day-long New Year's party together. Some of us head up to the Edinburgh Fringe in August to do a more professional show (also normally daft), with things like actual theatres, budgets, sometimes even rehearsals.</p>

    <h3>Getting involved</h3>
    <p>Just come along to our friendly open auditions at the beginning of each term, details of which will be posted here and on our e-mail list. Even if you've never done anything like this before, we'd still like to see you! We will have many parts with varying levels of commitment available, so if you don't want to take on too much, or if you want to steal the show, just let us know.</p>

    <!-- <p>If you'd like to ask us anything or if you're just bored, drop us an email: <a href="mailto:"></a></p> -->

    <p><img src="/assets/images/hamster.gif" alt="hamster"></p>

</body>

{% include footer.htm %}