---
---

{% include head-start.htm %}

    <title>Cambridge University Light Entertainment Society</title>
    <meta name="description" content="We are a student run-group who aim to bring theatre to those who would normally not get the chance to see it, taking performances to such places as special needs schools and nursing homes. Our second equally important aim is to have fun!">

</head>

<body>

    <img src="/assets/images/netscape.gif" alt="Netscape">

    <h1>The great and glorious CULES website</h1>

    <p><img src="/assets/images/under-construction.gif" alt="Under construction"></p>

    <p><img src="/assets/images/hamster.gif" alt="hamster"></p>

</body>

{% include footer.htm %}