---
---

{% include head-start.htm %}
    <title>Cambridge University Light Entertainment Society</title>
    <meta name="description" content="We are a student run-group who aim to bring theatre to those who would normally not get the chance to see it, taking performances to such places as special needs schools and nursing homes. Our second equally important aim is to have fun!">
</head>

<body>
    
    {% include nav.htm %}
    <img src="/assets/images/netscape.gif" alt="Netscape">

    <h1>Cambridge University Light Entertainment Society</h1>

    <h3>About CULES</h3>
    <p>We are a student run-group who aim to bring theatre to those who would normally not get the chance to see it, taking performances to such places as special needs schools and nursing homes. Our second, but equally important, aim is to have fun! We generally perform a play and a pantomime in both Michaelmas and Lent. In Easter we perform four short plays around a theme (designed to be manageable and fun for after exams!). All of these are written, directed and produced by enthusiastic members of the society.</p>

    <h3>Getting involved</h3>
    <p>Getting involved couldn't be simpler — just come along to our friendly open auditions at the beginning of each term, details of which will be posted here and on our e-mail list. Even if you've never done anything like this before, we'd still like to see you! We will have many parts with varying levels of commitment available, so if you don't want to take on too much, or if you want to steal the show, just let us know.</p>

    <p><img src="/assets/images/hamster.gif" alt="hamster"></p>

</body>

{% include footer.htm %}