---
---

{% include head-start.htm %}
    <title>Mailing lists - Cambridge University Light Entertainment Society</title>
    <meta name="description" content="Mailing lists for CULES. Sign up to get announcements for auditions or shows, or join our chat mailing list to find out when we're in the pub.">
</head>

<body>
    
    {% include nav.htm %}

    <h1>Mailing lists</h1>

    <p>CULES has three mailing lists. You can subscribe or unsubscribe yourself to/from them at any time.</p>

    <h3>soc-cules-interested</h3>
    <p>Just show and audition announcements. Low volume. If you signed up to a list at Freshers' Fair, this is the one.</p>
    <p><a href="https://lists.cam.ac.uk/mailman/listinfo/soc-cules-interested">Join</a></p>

    <h3>soc-cules</h3>
    <p>The main society mailing list. Show and audition announcements, plus society events like dinners, meetings, parties, holidays.</p>
    <p><a href="https://lists.cam.ac.uk/mailman/listinfo/soc-cules">Join</a></p>

    <h3>soc-cules-twister</h3>
    <p>A higher volume list with pub announcements, other social gatherings, occasional nonsense.</p>
    <p><a href="https://lists.cam.ac.uk/mailman/listinfo/soc-cules-twister">Join</a></p>

</body>

{% include footer.htm %}