---
---

{% include head-start.htm %}
    <title>Units of measurement - Cambridge University Light Entertainment Society</title>
    <meta name="description" content="An explanation of the units of measurement in daily use by members of CULES.">
</head>

<body>

{% include nav.htm %}

<h1>The Volesean system of units</h1>

<h3>Volume</h3>
<p>Vole<br>
<em>A measure of gin which appears just a little overzealous, plus a little bit more. Also the amount of gin which will evaporate in one fortnight (7.5 pub-quizzes) when placed 1 half-mile from a fire of one Duncan.</em></p>

<p>Gill<br>
<em>The amount of gin required to get Gill to fall repeatedly off a chair. Equal to 6 Voles.</em></p>

<h3>Distance</h3>

<p>Coomber<br>
<em>The distance sidestepped by Chris.</em></p>

<p>Half-mile<br>
<em>Half of one mile.</em></p>

<h3>Time</h3>

<p>Pub-quiz<br>
<em>The amount of time taken for one of Harry's quizzes.</em></p>

<p>Fortnight<br>
<em>7.5 pub-quizzes.</em></p>

<h3>Mass</h3>
<p>Imperial buggerload<br>
<em>The amount of wood required to build a fire of one Duncan that will burn for one fortnight.</em></p>
<p>Metric buggerload<br>
<em>A bit less.</em></p>

<h3>Fire</h3>
<p>Duncan<br>
<em>The amount of fire at which it is comfortable to sit at a distance of one half-mile.</em></p>

{% include footer.htm %}
