---
---
body {
	padding: 0 2rem;
	max-width: 1000px;
	margin: auto;
}

nav {
	padding: 0.5rem;
	width: 100%;

	>a {
		img {
			height: 120px;
		}
	}

	ul {
		float: right;
		list-style-type: none;

		li {
			float: none;
		}
	}
}

a {
	transition: all 0.3s ease-in-out;
	&.image-link {
		&:hover {
			opacity: 0.7;
		}
	}
}