---
---

@import url('https://fonts.googleapis.com/css?family=Trade+Winds');

body {
	padding: 0.5rem 2rem 3rem 2rem;
	max-width: 1000px;
	margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

nav {
	padding: 0.5rem;
	width: 100%;

	>a {
		img {
			height: 120px;
		}
	}

	ul {
		float: right;
		list-style-type: none;

		li {
			float: left;
			margin-left: 0.5rem;

			a {
				font-size: 0.8rem;
				text-transform: uppercase;
				padding: 5px;

				&.active {
					color: #484848;

					&:hover {
						border-color: transparent;
					}
				}
			}
		}
	}
}

.padded-top {
	padding-top: 15px;
}
.padded-bottom {
	padding-bottom: 15px;
}
.padded-left {
    padding-left: 15px;
}

h1.cules {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 1.2rem;
    line-height: 2rem;
}

h2, h3 {
	@extend .padded-top;
}
h3, h4 {
	margin-bottom: 5px;
}
p {
	margin: 0 0 10px 0;
}


a {
	$link-color: #4581ed;
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border 0.3s ease, opacity 0.3s ease;

	& {
		color: $link-color;
	}

	&:hover {
		border-bottom-color: $link-color;
	}

	&.image-link {
		&:hover {
			border-bottom: transparent;
			opacity: 0.6;
		}
	}
}

.pullout {
	float: right;
	width: 30%;
	padding: 15px;
	margin-left: 15px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;

	p {
		font-size: 2rem;
		line-height: 2rem;
	}
	cite {
		font-size: 0.7rem;
		font-style: italic;
	}
}

.text--center {
	text-align: center;
}

.text--right {
	text-align: right;
}