---
---

 @import 'https://fonts.googleapis.com/css?family=Bubblegum+Sans|Montserrat';

body {
	padding: 0 2rem;
	max-width: 1000px;
	margin: auto;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
}

nav {
	padding: 0.5rem;
	width: 100%;

	>a {
		img {
			height: 120px;
		}
	}

	ul {
		float: right;
		list-style-type: none;

		li {
			float: left;
			margin-left: 0.5rem;

			a {
				font-size: 0.8rem;
				text-transform: uppercase;
				padding: 5px;
			}
		}
	}
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
}
h2 {
	padding-top: 15px;
}
h3, h4 {
	margin-bottom: 5px;
}
h4 {
	margin-top: 0;
}
p {
	margin: 0 0 10px 0;
}

a {
	text-decoration: none;
	border-bottom: 1px solid transparent;
	transition: border 0.3s ease, opacity 0.3s ease;

	&:hover {
		border-bottom-color: #6060ff;
	}

	&.image-link {
		&:hover {
			border-bottom: transparent;
			opacity: 0.6;
		}
	}
}